@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-image: url('../images/tennis-7932067_1920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5f7fa;
  height: 100vh;
}

.prm-nme {
  width: 100%;
  background-color: #192335;
  color: #fff;
  height: 80px;
  text-align: center;
}

.prm-nme > * {
  line-height: 80px;
  display: inline-block;
}

.menu {
  display: inline-block;
  margin-top: 100px;
  margin-left: 60px;
  list-style: none;
  background-color: #fff;
  border-radius: 10px;
  width: 200px;
  overflow: hidden;
}

.menu li {
  font-size: 20px;
  color: #000;
  padding: 10px;
  transition: all ease-in-out 0.35s;
  padding: 30px;
}

.menu li:hover {
  background-color: #192335;
  color: #fff;
}
