@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-image: url('../images/tennis-7932067_1920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5f7fa;
  height: 100vh;
  /* width: 200vw; */
}

.prm-nme {
  width: 100%;
  background-color: #192335;
  color: #f5f7fa;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.prm-nme img {
  width: 100px;
  position: absolute;
  display: inline-block;
  background-color: #f5f7fa;
  border-radius: 50%;
  left: 50px;
}

.main-container {
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.menu {
  display: flex;
  margin-top: 100px;
  margin-left: 60px;
  list-style: none;
  background-color: #f5f7fa;
  border-radius: 10px;
  width: 200px;
  overflow: hidden;
  flex-direction: column;
}
.menu a {
  text-decoration: none;
  padding: 30px;
}

.menu label {
  font-size: 20px;

  padding: 30px;
  transition: all ease-in-out 0.35s;
  cursor: pointer;
}

.menu label:hover {
  background-color: #192335;
  color: #f5f7fa;
}
.menu label:hover a {
  color: #f5f7fa;
}

.menu label a {
  color: #000;
}
.menu label.active {
  background-color: #192335;
}
.menu label.active a {
  color: #f5f7fa;
}
.menu input {
  display: none;
}

/* .radio_input:checked + .radio_label {
  color: #f5f7fa;
  background-color: #192335;
} */

.main-container .page-cover {
  width: 1200px;
  height: 550px;
  background-color: #f5f7fa;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.main-container .page-cover .dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  height: 100%;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 20px; */
}
.page-cover .dashboard li {
  width: 220px;
  height: 220px;
  background-color: #192335;
  margin-right: 10px;
  border-radius: 10px;
  /* overflow: hidden; */
}

.dashboard li a {
  text-decoration: none;
  color: #f5f7fa;
  position: relative;
  width: 100%;
  height: 100%;
}

.dashboard li a img {
  width: 220px;
  height: 220px;
  backface-visibility: hidden;
  border-radius: 10px;
  opacity: 1;
  transition: all ease-in-out 0.35s;
}

.dashboard li a:hover img {
  opacity: 0.3;
}
.dashboard li a .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: -500%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.dashboard li a:hover .middle {
  opacity: 1;
}

.dashboard li a span {
  transition: all ease-in-out 0.35s;
  font-size: 26px;
  font-weight: 600;
  color: #f5f7fa;
  text-transform: uppercase;
}

/* FOOTER */

footer {
  text-align: center;
  color: #f5f7fa;
  font-size: 18px;
}
